.node {
  stroke: black;
  fill: #0000ff10;
  /* fill: transparent; */
}

rect.port {
  fill: grey;
}

rect.port.T {
  fill: lightgreen;
}

rect.constant {
  fill: #ffffff;
}

path.connector {
  fill: white;
}

path.connector.T {
  fill: lightgreen;
}

path.connector.hover {
  stroke-width: 3px;
}

path.constant {
  fill: #dddddd;
}

path.edge {
  stroke-width: 1px;
  stroke: #888888;
}

path.edge.T {
  stroke-width: 3px;
  stroke: green;
}

path.edge.hover {
  stroke-width: 5px;
  stroke: orange;
}

path.bus {
  stroke: black;
}

text.label {
  font-family: Arial;
  font-size: 80%;
}

text.label.connector {
  font-family: monospace;
  font-weight: bold;
  font-size: 80%;
}

text.label.constant {
  font-family: monospace;
  font-weight: bold;
  font-size: 80%;
}
